*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
  margin: 0;
}

.link.active {
  color: #2196f3;
}
.active::after {
  position: absolute;
  content: "";
  background: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: 0px;
  left: 0;
}
.link:hover{
  color: #2196f3;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*for all links*/
a:link,
a:visited {
  text-decoration: none;
}
ul li a {
  color: #212121;
  text-decoration: none;
}

/*for all pharagraph*/
p {
  color: #757575;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
/*for logo*/
.logo {
  font-family: "raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

header {
  border-bottom: 1px solid #ececec;
}
.header {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.top {
  display: flex;
}
.nav-list {
  display: flex;
  gap: 50px;
  padding-left: 0;
}

.click-a{
  padding-top: 32px;
  padding-bottom: 32px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transform: translateY(0%);
}

.nav-animation{
  align-items: center;
  bottom: 1px;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 10px;
  transform: scaleY(3);
}

.click-a:hover .nav-animation{
  background-color: #2196F3;
  transform: translateY(0%);
  transition: transform 2s; 
  
}

.contact-link {
  display: flex;
  flex-direction: row;
}
.contactl {
  display: flex;
  gap: 10px;
}

.email {
  align-items: center;
}
.icon-mail {
  width: 16px;
  height: 12px;
}

.icon-tel {
  width: 10px;
  height: 16px;
}

.contacts {
  display: flex;
  margin-left: 306px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 0;
  gap: 30px;
}

.nav-list {
  font-family: "roboto";
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #212121;
}
.nav-list .list:hover {
  color: #2196f3;
  cursor: pointer;
}

.nav-list .list:focus {
  color: #2196f3;
}

.click-a:hover .link, .click-a:hover .nav-animation{
  color: #2196F3;
}

.contact-link:hover .icon-mail, .contact-link:hover .icon-tel{
  fill: #2196f3;
  cursor: pointer;
}
.contact-link:focus .icon-mail, .contact-link:focus .icon-tel{
  fill: #2196f3;
  cursor: pointer;
}

.contact-link:focus {
  fill: #2196F3;
} 

.contact-link:hover .icon-mail,
.contact-link:hover .email{
  color: #2196f3;
  cursor: pointer;
}

.contact-link:hover .icon-tel,
.contact-link:hover .tel{
  color: #2196f3;
  cursor: pointer;
}


body {
  font-family: "roboto", "raleway", "sans-serif";
  background-color: #ffffff;
}
.contactl {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;
}

.contacts .contacts-ab {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.main-title {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main.jpg);
  background-size: cover;
  background-color: #2f303a;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.first-section-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.title {
  font-family: "roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: center;
}
.main-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
}

.backdrop.is-hidden{
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.20);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    visibility: visible;
    opacity: 100%;
    pointer-events: auto;
}

.modal{
  z-index: 1;
  position: relative;
  top: 25%;
  left: 35.8%;
  width: 528px;
  height: 581px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  
}


.close-button{
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background-color: #FFF;
  margin: 0;
  padding: 0;
}



.bigbox-one {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
  margin-left: 0;
  padding-left: 0;
}

.box {
  padding: 20px 100px;
  background-color: #f5f4fa;
  flex-basis: calc((100% - 90px) / 4);
}
.b-img {
  width: 70px;
  height: 70px;
}

.page_values {
  display: flex;
  padding: 0;
  gap: 30px;
}
.h_values {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  gap: 10px;
}
.li_values {
  flex-basis: calc((100% - 90px) / 4);
}
.p_values {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.h-features {
  margin-top: 0;
  margin-bottom: 55px;
}

.service {
  justify-content: center;
  padding-bottom: 94px;
}
.u-tec {
  margin: 0;
  display: flex;
  padding: 0;
  gap: 26px;
}
.imgtec {
  flex-basis: calc((100% - 52px) / 3);
}

.tec{
  position: relative;
  z-index: -1;
}
.tec img{
  display: block;
  width: 100%;
  height: auto;
}
.imgbox {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color:rgba(47, 48, 58, 0.80);
  height: 70px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgbox p {
  position: absolute;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  z-index: 2;
}


.our-team {
  background-color: #f5f4fa;
}
.t-team {
  padding-bottom: 50px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  margin: 16px 32px 30px 32px;
  padding: 0;
}

.isocial {
  width: 20px;
  height: 20px;
  border-width: 44px;
}
.lsocial {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.lsocial:hover{
  background-color: #2196F3;
  cursor: pointer;
}
.lsocial:hover .isocial{
  fill: #ffffff;
  cursor: pointer;
}

.gray{
  fill: #AFB1B8;
}

.team {
  display: flex;
  gap: 32px;
  padding: 0;
}
.l-team {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 97px) / 4);
}
.div-team {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.div-poster {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
}
.h-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.p-team {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.ul-cr {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-top: 44px;
}

.li-cr {
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.li-cr:hover {
  border-color: #2196F3;
}

.li-cr:hover .img-cr{
  fill: #2196F3;
  cursor: pointer;
}

.img-cr {
  width: 170px;
  height: 81px;
  padding: 14px 32px;
}

footer {
  background-color: #2f303a;
  height: 252px;
}
.foot {
  padding-top: 60px;
}
.logob {
  padding-bottom: 9px;
}

.address {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 9px;
}

.contacts-two {
  padding: 0;
  margin: 0;
}
.contacts-ba {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.contacts-two .contacts-ba:hover,
.contacts-two .contacts-ba:focus {
  color: #2196f3;
  cursor: pointer;
}

/*portfolio style*/
.p-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  background-color: #f5f4fa;
  padding: 6px 24px;
}

.p-button:hover,
.p-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.p-hmini {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 0 auto 4px 24px;
  padding: 0;
}
.p-pmini {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: justify;
  margin-left: 24px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.last {
  padding-top: 59px;
  padding-bottom: 151px;
}

.p-main {
  padding-bottom: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pl-button {
  display: flex;
  gap: 8px;
  margin-top: 106px;
  margin-bottom: 50px;
  justify-content: center;
}
.p-button {
  padding: 6px 24px 6px 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.ul-main {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 30px;
}
.li-main:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}
.li-main {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin-top: 0;
  padding: 0;
  flex-basis: calc((100% - 60px) / 3);
}

.img-animation{
  position: relative;
  overflow: hidden;
}

.h-animation{
  position: absolute;
  top: 0px;
  width: 370px  ;
  height: 294px;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.90);

  transform: translateY(100%);
}

.main-animation:hover .h-animation{
  transform: translateY(0%);
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  
  
}

.p-animation{
  color: #FFF;
font-size: 18px;
font-family: Roboto;
line-height: 28px;
letter-spacing: 0.54px;
text-align:left;
}


.li-img {
  padding: 0;
  margin: 0;
}

.l-team {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.footerp {
    display: flex;
    
}

.encuentranos {
  margin-top: 72px;
  margin-left: 70px;
}
.smbottom{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 20px;
}

.socialf {
  width: 20px;
  height: 20px;
  border-width: 44px;
  fill: #FFFFFF;
}
.lisocialf{
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff1a;
  margin-right: 10px;
  margin-left: 0;
}

.lisocialf:hover{
  background-color: #2196F3;
  cursor: pointer;
}

.t-en{
  color: #FFFFFF;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
}

