footer {
    background-color: #2f303a;
    height: 252px;
  }
  .footer__foot {
    padding-top: 60px;
  }
  .footer__logo {
    padding-bottom: 9px;
  }
  
  .footer__address {
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding-top: 9px;
  }
  
  .footer__contacts{
    padding: 0;
    margin: 0;
  }
  .footer_e-t {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
  
  .footer__contacts .footer_e-t:hover,
  .footer__contacts .footer_e-t:focus {
    color: #2196f3;
    cursor: pointer;
  }