.last{
    padding-top: 59px;
    padding-bottom: 151px;
    &__ul {
      display: flex;
      justify-content: space-between;
      padding-left: 0;
      margin-top: 44px;
    }
  
    &__li {
      border: 1px solid #afb1b8;
      border-radius: 4px;
  
      &:hover {
        border-color: $maincolor;
  
        & .last__img {
          fill: $maincolor;
          cursor: pointer;
        }
      }
    }
  
    &__img {
      width: 170px;
      height: 81px;
      padding: 14px 32px;
    }
  }