
.main {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/main.jpg);
    background-size: cover;
    background-color: #2f303a;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .main__index {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  .main__title {
    font-family: "roboto";
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: #ffffff;
    text-align: center;
  }
  .main__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: #2196f3;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
  }
  