.team {
    background-color: #f5f4fa;
  }
  .team__mates {
    padding-bottom: 50px;
  }
  
  .team__social-media {
    display: flex;
    justify-content: space-between;
    margin: 16px 32px 30px 32px;
    padding: 0;
  }
  
  .team__svg {
    width: 20px;
    height: 20px;
    border-width: 44px;
  }
  .team__icons {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }
  .team__icons:hover{
    background-color: $maincolor;
    cursor: pointer;
  }
  .team__icons:hover .team__svg{
    fill: #ffffff;
    cursor: pointer;
  }
  
  .gray{
    fill: #AFB1B8;
  }
  
  .team__presentation {
    display: flex;
    gap: 32px;
    padding: 0;
  }
  .team__card {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 97px) / 4);
    border: 1px solid #eeeeee;
  }
  .team__profile {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  .team__profession {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-top: 10px;
  }